<section>
   <div class="container mt-4">
      <div class="row">
         <div class="col-sm-12">
            <h1 class="text-danger">{{title}}</h1>
         </div>
      </div>
      <div class="row container m-0">
         <div class="col-sm-12">
            <span class="text-danger">
               {{errorMsg}}
            </span>
         </div>
      </div>
   </div>
</section>
